{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} |
{{title}}
{% endblock title %}

{% block content %}
<div class="card">

    <div class="card-header">
        <div class="float-left">
            <h5 class="card-title">{{title}}</h5>

        </div>


        <div class="float-right top-nav-search ">
            <form method="GET" action="{% url 'country:countries' %}">
                <input type="text" class="form-control" placeholder="Search by country name" name="name">
                <button class="btn" type="submit"><i data-feather="search"></i></button>
            </form>

        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="table table-nowrap mb-0 task-table">
                <thead>
                    <tr>

                        <th>Country Name</th>
                        <!-- <th>Event Description</th> -->
                        <th>Alpha Code 2</th>
                        <th>Capital</th>
                        <th>population</th>
                        <th>Timezone</th>
                        <th>flag</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in country_list %}
                        <tr>
                            <td>{{country.name}}</td>
                            <td>{{country.alphacode_2}}</td>
                            <td>{{country.capital}}</td>
                            <td>{{country.population}}</td>
                            <td>{{country.timezone}}</td>
                            <td> <img src="{{country.flag}}" alt=" Flag Imgage" width="50px" height="50px"> </td>
                           

                            <td>
                                <a href="{% url 'country:country_detail' country.id %}" class="btn btn-info btn-sm"><i data-feather="eye"></i>View Details</a>
                            </td>
                        </tr>
                    {% empty %}

                    {% endfor %}
                </tbody>
            </table>
            <section class="comp-section mt-3">
                {% include 'partials/_pagination.html' %}
            </section>
        </div>
    </div>

</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/utils/bootstrap_datatable_settings.js' %}"></script>
{% endblock script %}